In [21]:
#Read the base bom files from jde as dataframes

import pandas as pd

# Load the Excel file without headers
jde_bom_us = pd.read_excel(
    "C:/Users/SPoudel/Ventura Foods/SC Analytics Team - General/Stan Report Files/File Repository/Lookup Datasets/Current Week Dataset/jde_us.xlsx", 
    skiprows=2
)

jde_bom_can = pd.read_excel(
    "C:/Users/SPoudel/Ventura Foods/SC Analytics Team - General/Stan Report Files/File Repository/Lookup Datasets/Current Week Dataset/jde_canada.xlsx", 
    skiprows=2
)

# this completes the horizontals(rows) of data creating needed base Records or Observations
jde_bom = pd.concat([jde_bom_us,jde_bom_can],axis=0,join='outer')
jde_bom.columns = jde_bom.columns.str.replace(" ", "_", regex=True) #replace spaces and blanks with "_"
jde_bom = jde_bom.drop(columns=["3rd_Item_Number", "Extended_Amount"])
jde_bom.rename(columns={"Quantity_w/_Scrap": "Quantity_w_Scrap"}, inplace=True)

In [22]:
jde_bom["ref"] = jde_bom["Business_Unit"].astype(str) + "_" + jde_bom["Parent_Item_Number"].astype(str) #creating ref by combining Business Unit and Parent Item Number
jde_bom["comp_ref"] = jde_bom["Business_Unit"].astype(str) + "_" + jde_bom["Component"].astype(str) #creating component ref by combining business unit and component

In [27]:
#Sales Order in next 28 days attribute design with location and item# as key
custorder28days = pd.read_excel(
    "C:/Users/SPoudel/Ventura Foods/SC Analytics Team - General/Stan Report Files/File Repository/Lookup Datasets/Current Week Dataset/US and CAN OO BT where status _ J.xlsx")

c:\Anaconda_Distribution\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [28]:
custorder28days

,Campus No.,Location No,Location Name,Product Label (SKU) Code,Product Label (SKU) Name,Sales Order Original Requested Ship Date,Sales Order No.,Sales Order Requested Ship Date,OO Cases,B/T Open Order Cases
0,10,10,Lou Ana,12311-HLC,CANOLA SO NTF JUG 4/1 GAL,2025-02-12,25066,2025-02-17,180.0,NaN
1,10,10,Lou Ana,12311-HLC,CANOLA SO NTF JUG 4/1 GAL,2025-02-17,25195,2025-02-18,300.0,NaN
2,10,10,Lou Ana,12311-HLC,CANOLA SO NTF JUG 4/1 GAL,2025-02-19,25262,2025-02-19,300.0,NaN
3,10,10,Lou Ana,12311-HLC,CANOLA SO NTF JUG 4/1 GAL,2025-02-20,25284,2025-02-20,480.0,NaN
4,10,10,Lou Ana,12311-HLC,CANOLA SO NTF JUG 4/1 GAL,2025-02-20,25285,2025-02-20,300.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32295,624,624,Edmonton,61410-SYC,TARTAR SYSCO CLS 2/3.78L,2025-02-25,77906,2025-02-25,21.0,NaN
32296,624,624,Edmonton,61420-SYC,TARTAR SYSCO IMP 2/3.78L,2025-02-18,77664,2025-02-18,42.0,NaN
32297,624,624,Edmonton,61420-SYC,TARTAR SYSCO IMP 2/3.78L,2025-02-18,77673,2025-02-18,42.0,NaN
32298,624,624,Edmonton,61420-SYC,TARTAR SYSCO IMP 2/3.78L,2025-02-24,77775,2025-02-24,10.0,NaN
32299,624,624,Edmonton,61420-SYC,TARTAR SYSCO IMP 2/3.78L,2025-03-03,78033,2025-03-03,21.0,NaN